<html>
<head>
    <title>Add answer for question ID {{question_id}}</title>
    <meta keywords.="story agile">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/static.css') }}">
</head>
<body>
    <h1>Add answer for question ID {{question_id}}</h1>   
    <form action="new_answer", method="POST">
        <label>Answer message</label>
        <input type="text", name="message"/>
        <input type="hidden" name="username" value="{{session['username']}}">
        <br>
        <input class="buttons" type="submit", value="Add answer"/>
    </form>
    <button class="buttons"type="button" onclick="location.href='{{ url_for( 'question', id = question_id ) }}'">Return</button>

</body>
</html>