<html>
<head>
    <title>Add tag for question ID {{question_id}}</title>
    <meta keywords.="story agile">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/static.css') }}">
</head>
<body>
    <h1>Add tag for question ID {{question_id}}</h1>   
    <form action="add_tag", method="POST">
        <label>Tag :</label>
        <input type="text", name="tag"/>
        <br>
        <input class="buttons" type="submit", value="Add Tag"/>
    </form>
    <button class="buttons"type="button" onclick="location.href='{{ url_for( 'question', id = question_id ) }}'">Return</button>
</body>
</html>