<html>
<head>
    <title>Add comment for answer ID {{answer_id}}</title>
    <meta keywords.="story agile">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/static.css') }}">
</head>
<body>
    <h1>Add comment for answer ID {{answer_id}}</h1>   
    <form action="new_answer_comment", method="POST">
        <label>Comment message</label>
        <input type="text", name="message"/>
        <br>
        <input class="buttons" type="submit", value="Add comment"/>
    </form>
    <button class="buttons"type="button" onclick="location.href='{{ url_for( 'answer', answer_id = answer_id )}}'">Return</button>
</body>
</html>