<html>
<head>
    <title>Edit question</title>
    <meta keywords.="story agile">
</head>
<style>
    body {background-color: powderblue;}
    table, th, td {
      border:1px solid black;
    }
</style>
<body>
    <h1>Edit question ID {{question[0]['id']}}</h1>   
    <form action="edit", method="POST">
        <label>Question title</label>
        <input type="text" name = "title" placeholder = {{question[0]['title']}}>
        <br>
        <label>Question message</label>
        <input type="text", name="message" placeholder = {{question[0]['message']}}>
        <br>
        <input type="submit", value="Edit question"/>
    </form>
    <a href="{{ url_for( 'question', id = question[0]['id'] ) }}">return</a>
</body>
</html>