<html>
<head>
    <title>Edit question</title>
    <meta keywords.="story agile">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/static.css') }}">
</head>
<body>
    <h1>Edit question ID {{question[0]['id']}}</h1>   
    <form action="edit", method="POST">
        <label>Question title</label>
        <input type="text" name = "title" placeholder = {{question[0]['title']}}>
        <br>
        <label>Question message</label>
        <input type="text", name="message" placeholder = {{question[0]['message']}}>
        <br>
        <input class="buttons" type="submit", value="Edit question"/>
    </form>
    <button class="buttons"type="button" onclick="location.href='{{ url_for( 'question', id = question[0]['id'] ) }}'">Return</button>
</body>
</html>