<html>
<head>
    <title>Edit question</title>
    <meta keywords.="story agile">
</head>
<style>
    body {background-color: powderblue;}
    table, th, td {
      border:1px solid black;
    }
</style>
<body>
    <h1>Edit question</h1>   
    <form action="edit", method="POST">
        <label>Question title</label>
        <input type="text" name="title"/>
        <br>
        <label>Question message</label>
        <input type="text", name="message"/>
        <br>
        <input type="submit", value="Edit"/>
    </form>
    <h1>{{question}}</h1>
    <a href="/list">return</a>
</body>
</html>