<html>
<head>
    <title>Edit answer</title>
    <meta keywords.="story agile">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/static.css') }}">
</head>
<body>
    <h1>Edit answer ID {{answer[0]['id']}}</h1>   
    <form action="edit", method="POST">
        <label>Answer :</label>
        <input type="text" name = "message" placeholder = {{answer[0]['message']}}>
        <br>
        <input class="buttons" type="submit", value="Edit answer"/>
    </form>
    <button class="buttons"type="button" onclick="location.href='{{ url_for( 'answer', answer_id = answer[0]['id'] ) }}'">Return</button>
</body>
</html>