<html>
<head>
    <title>Edit comment ID {{comment_id}}</title>
    <meta keywords.="story agile">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/static.css') }}">
</head>
<body>
    <h1>Edit comment ID {{comment_id}}</h1>   
    <form action="edit", method="POST">
        <label>Comment message</label>
        <input type="text", name="message" placeholder = {{comment[0]['message']}}>
        <br>
        <input class="buttons" type="submit", value="Edit comment"/>
    </form>
    <button class="buttons"type="button" onclick="location.href='{{ url_for( 'question', id = comment[0]['question_id'] ) }}'">Return</button>

</body>
</html>