<html>
<head>
    <title>List of questions</title>
    <meta keywords.="story agile">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/static.css') }}">

</head>
<body>
    <h1 class = "text">List of questions</h1>

    <form action="list", method="GET">
        <label class="text">Sort by:</label>
        <select name="order_by">
            <option value="id">Question ID</option>
            <option value="submision_time">Submision time</option>
            <option value="view_number">View number</option>
            <option value="vote_number">Vote number</option>
          </select>
          <select name="order_direction">
            <option value="ASC">Ascending</option>
            <option value="DESC">Descending</option>
          </select>
        <input class = "buttons" type="submit", value="Sort"/>
    </form>

    <table style="width:100%">
        <tr>
        {% for header in headers %}
        <th>{{header}}</th>
        {% endfor %}
        <th></th>
        </tr>
        <tr>
        {% for question in questions %}
        <td>{{question['id']}}</td>
        <td>{{question['submision_time']}}</td>
        <td>{{question['view_number']}}</td>
        <td>{{question['vote_number']}}</td>
        <td>{{question['title']}}</td>
        <td>{{question['message']}}</td>
        <td>{{question['image']}}</td>
        <td><button class="buttons"type="button" onclick="location.href='{{ url_for( 'question', id = question['id'] ) }}'">View question</button></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    {% if session['username'] %}
    <button class="buttons"type="button" onclick="location.href='/add_question'">Add question</button>
    <button class="buttons"type="button" onclick="location.href='/'">Back to main page</button>
    {% else %}
    <button class="buttons"type="button" onclick="location.href='/'">Back to main page</button>
    {% endif %}

</body>
</html>
