<html>
<head>
    <title>List of questions</title>
    <meta keywords.="story agile">
</head>
<style>
    body {background-color: powderblue;}
    table, th, td {
      border:1px solid black;
    }
</style>
<body>
    <h1>List of questions</h1>
    <table style="width:100%">
    {% for question in questions %}
        <tr>
        {% for que in question%}
        <th>{{que}}</th>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
<a href="/add_question">add_question</a>
</body>
</html>