<html>
<head>
    <title>List of questions</title>
    <meta keywords.="story agile">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/static.css') }}">
</head>
<body>
    <h1>Ask mate</h1>
    <button class="buttons"type="button" onclick="location.href='/register'">Register</button>
    <button class="buttons"type="button" onclick="location.href='/login'">Login</button>

    <br>
    <h2>Most recent questions</h2>
    <table style="width:100%">
        <tr>
        {% for header in headers %}
        <th>{{header}}</th>
        {% endfor %}
        <th></th>
        </tr>
        <tr>
        {% for question in questions %}
        <td>{{question['id']}}</td>
        <td>{{question['submision_time']}}</td>
        <td>{{question['view_number']}}</td>
        <td>{{question['vote_number']}}</td>
        <td>{{question['title']}}</td>
        <td>{{question['message']}}</td>
        <td>{{question['image']}}</td>
        <td><button class="buttons"type="button" onclick="location.href='{{ url_for( 'question', id = question['id'] ) }}'">View question</button></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <form action="search", method="GET">
        <label class="text">Search</label>
        <input type="text", name="search" required>
        <input class="buttons"type="submit", value="Search"/>
    </form>
    <button class="buttons"type="button" onclick="location.href='/list'">View all questions</button>
    <button class="buttons"type="button" onclick="location.href='/add_question'">Add question</button>
</body>
</html>
