<html>
<head>
    <title>List of questions</title>
    <meta keywords.="story agile">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/static.css') }}">
</head>
<body>
    <h1>Question ID {{question[0]['id']}}</h1>

    <h3>Tags</h3>
    {% if tags == [] %}
    <a>There are no tags yet.</a>
    <br>
    <a>Add a new one</a>
    {% else %}
    <table>
      <tr>
          <th>
              {% for tag in tags %}
              {{tag['name']}}
              <a1>&nbsp;</a1>
              <a href="{{ url_for( 'delete_tag', tag_id = tag['tag_id'], question_id = tag['question_id'])}}">X</a>
              <a1>|</a1>
              {% endfor %}
          </th>
      </tr>
  </table>
  {% endif %}
  {% if session['username'] %}
  <br>
  <button class="buttons"type="button" onclick="location.href='{{ url_for( 'add_tag', question_id = question[0]['id'] )}}'">Add tag</button>
  <br>
  {% else %}
  <br>
    <a>You have to log in to add a tag</a>
    <button class="buttons"type="button" onclick="location.href='/login'">Login</button>
  {% endif %}

    <br>
    <table style="width:100%">
        <tr>
        {% for header in question_headers %}
        <th>{{header}}</th>
        {% endfor %}
        </tr>
        <tr>
        {% for que in question %}
        <td>{{que['id']}}</td>
        <td>{{que['submision_time']}}</td>
        <td>{{que['username']}}</td>
        <td>{{que['view_number']}}</td>
        <td>{{que['vote_number']}}</td>
        <td>{{que['title']}}</td>
        <td>{{que['message']}}</td>
        <td>{{que['image']}}</td>
        </tr>
        {% endfor %}
    </table>
    {% if session['username'] == question[0]['username'] %}
    <br>
    <button class="buttons"type="button" onclick="location.href='{{ url_for( 'question_edit', question_id = question[0]['id'] )}}'">Edit question</button>
    <button class="buttons"type="button" onclick="location.href='{{ url_for( 'question_delete', question_id = question[0]['id'] )}}'">Delete question</button>
    <button class="buttons"type="button" onclick="location.href='{{ url_for( 'question_vote_up', question_id = question[0]['id'] )}}'">Vote up question</button>
    <button class="buttons"type="button" onclick="location.href='{{ url_for( 'question_vote_down', question_id = question[0]['id'] )}}'">Vote down question</button>
    {% elif session['username'] %}
    <button class="buttons"type="button" onclick="location.href='{{ url_for( 'question_vote_up', question_id = question[0]['id'] )}}'">Vote up question</button>
    <button class="buttons"type="button" onclick="location.href='{{ url_for( 'question_vote_down', question_id = question[0]['id'] )}}'">Vote down question</button>
    {% else %}
    <a>You have to log in to do action</a>
    <button class="buttons"type="button" onclick="location.href='/login'">Login</button>
    {% endif %}

    {% if comments == [] %}
      <br><br><br>
      <h1>Comments</h1>
      <a>There are no comments yet.</a>
      {% if session['username'] %}
      <br>
      <a>Add a new one</a>
      <button class="buttons"type="button" onclick="location.href='{{ url_for( 'new_question_comment', question_id = question[0]['id'] )}}'">Add comment</button>
      {% else %}
      <a>You have to log in to add a Comment</a>
      <button class="buttons"type="button" onclick="location.href='/login'">Login</button>
      {% endif %}


    {% else %}
        <h1>Comments</h1>
        <table style="width:100%">
        <tr>
        {% for header in comment_headers %}
        <th>{{header}}</th>
        {% endfor %}
        <th></th>
        </tr>
        <tr>
            {% for comment in comments %}
            <td>{{comment['id']}}</td>
            <td>{{comment['submision_time']}}</td>
            <td>{{comment['username']}}</td>
            <td>{{comment['message']}}</td>
            <td>{{comment['edited_numbers']}}</td>
            {% if session['username'] %}
            <td>
                <button class="buttons"type="button" onclick="location.href='{{ url_for( 'edit_question_comment', comment_id = comment['id'] )}}'">Edit comment</button>
                <br>
                <button class="buttons"type="button" onclick="location.href='{{ url_for( 'delete_question_comment', comment_id = comment['id'] )}}'">Delete comment</button>
            {% else %}
            <td><a>You have to log in to do action</a>
            <button class="buttons"type="button" onclick="location.href='/login'">Login</button></td>
            {% endif %}
        </tr>
        {% endfor %}
        </table>
        <br>
        {% if session['username'] %}
        <button class="buttons"type="button" onclick="location.href='{{ url_for( 'new_question_comment', question_id = question[0]['id'] )}}'">Add comment</button>
        {% else %}
        <a>You have to log in to add a Comment</a>
      <button class="buttons"type="button" onclick="location.href='/login'">Login</button>
        {% endif %}
    {% endif %}


    <h1>Answers</h1>
    
    {% if answers == [] %}
    <a>There are no answers yet.</a>
    <br>
    <a>Add a new one</a>
    {% else %}
    <table style="width:100%">
      <tr>
          {% for header in answer_headers %}
          <th>{{header}}</th>
          {% endfor %}
          <th></th>
      </tr>
      {% for answer in answers %}
      <tr {% if answer['accept_status'] == 'accepted' %} class = "accepted" {% endif %}>
          <td>{{answer['id']}}</td>
          <td>{{answer['submision_time']}}</td>
          <td>{{answer['username']}}</td>
          <td>{{answer['vote_number']}}</td>
          <td>{{answer['message']}}</td>
          <td>{{answer['image']}}</td>
          {% if session['username'] %}
          <td>
              <button class="buttons"type="button" onclick="location.href='{{ url_for( 'answer_delete', answer_id = answer['id'])}}'">Delete answer</button>
              <br>
              <button class="buttons"type="button" onclick="location.href='{{ url_for( 'answer_vote_up', answer_id = answer['id'] )}}'">Vote up answer</button>
              <br>
              <button class="buttons"type="button" onclick="location.href='{{ url_for( 'answer_vote_down', answer_id = answer['id'] )}}'">Vote down answer</button>
              <br>
              <button class="buttons"type="button" onclick="location.href='{{ url_for( 'answer', answer_id = answer['id'] )}}'">View answer</button>
              {% if session['username'] == question[0]['username'] %}
                  {% if answer['accept_status'] == 'accepted' %}
                  <br>
                  <button class="buttons"type="button" onclick="location.href='{{ url_for( 'unaccept_answer', answer_id = answer['id'] )}}'">Unaccept answer</button>
                  {% else %}
                  <br>
                  <button class="buttons"type="button" onclick="location.href='{{ url_for( 'accept_answer', answer_id = answer['id'] )}}'">Accept answer</button>
                  {% endif %}
              {% endif %}
          </td>
          {% else %}
          <td>
          <button class="buttons"type="button" onclick="location.href='{{ url_for( 'answer', answer_id = answer['id'] )}}'">View answer</button></td>
          {% endif %}
          </tr>
          {% endfor %}
      </table>
    {% endif %}

    <br>
    {% if session['username'] %}
    <button class="buttons"type="button" onclick="location.href='{{ url_for( 'new_answer', question_id = question[0]['id'] )}}'">Add new answer</button>
    {% else %}
    <a>You have to log in to add a answer</a>
      <button class="buttons"type="button" onclick="location.href='/login'">Login</button>
    {% endif%}
    <br>
    <button class="buttons"type="button" onclick="location.href='/list'">Return</button>
    <button class="buttons"type="button" onclick="location.href='/'">Back to main page</button>
</body>
</html>