<html>
<head>
    <title>List of questions</title>
    <meta keywords.="story agile">
</head>
<style>
    body {background-color: powderblue;}
    table, th, td {
      border:1px solid black;
    }
</style>
<body>
    <h1>Question ID {{question[0]['id']}}</h1>

    <table style="width:100%">
        <tr>
        {% for header in question_headers %}
        <th>{{header}}</th>
        {% endfor %}
        </tr>
        <tr>
        {% for que in question %}
        <td>{{que['id']}}</td>
        <td>{{que['submision_time']}}</td>
        <td>{{que['view_number']}}</td>
        <td>{{que['vote_number']}}</td>
        <td>{{que['title']}}</td>
        <td>{{que['message']}}</td>
        <td>{{que['image']}}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for( 'question_edit', question_id = question[0]['id'] )}}">Edit question</a>
    <br>
    <a href="{{ url_for( 'question_delete', question_id = question[0]['id'] )}}">Delete question</a>
    <br>
    <a href="{{ url_for( 'question_vote_up', question_id = question[0]['id'] )}}">Vote up question</a>
    <br>
    <a href="{{ url_for( 'question_vote_down', question_id = question[0]['id'] )}}">Vote down question</a>

    <h1>Comments</h1>
    <table style="width:100%">
        <tr>
        {% for header in comment_headers %}
        <th>{{header}}</th>
        {% endfor %}
        <th></th>
        </tr>
        <tr>
            {% for comment in comments %}
            <td>{{comment['id']}}</td>
            <td>{{comment['submision_time']}}</td>
            <td>{{comment['message']}}</td>
            <td>{{comment['edited_numbers']}}</td>
            <td><a href="{{ url_for( 'edit_question_comment', comment_id = comment['id'] )}}">Edit comment</a></td>
        </tr>
            {% endfor %}
    </table>
    <a href="{{ url_for( 'new_question_comment', question_id = question[0]['id'] )}}">Add comment</a>



    <h1>Answers</h1>
    <table style="width:100%">
    <tr>
        {% for header in answer_headers %}
        <th>{{header}}</th>
        {% endfor %}
        <th></th>
    </tr>
    <tr>
        {% for answer in answers %}
        <td>{{answer['id']}}</td>
        <td>{{answer['submision_time']}}</td>
        <td>{{answer['vote_number']}}</td>
        <td>{{answer['message']}}</td>
        <td>{{answer['image']}}</td>
        <td><a href="{{ url_for( 'answer_delete', answer_id = answer['id'])}}">Delete answer</a>
            <br>
            <a href="{{ url_for( 'answer_vote_up', answer_id = answer['id'] )}}">Vote up answer</a>
            <br>
            <a href="{{ url_for( 'answer_vote_down', answer_id = answer['id'] )}}">Vote down answer</a>
            <br>
            <a href="{{ url_for( 'answer', answer_id = answer['id'] )}}">View answer</a>
        </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for( 'new_answer', question_id = question[0]['id'] )}}">Add new answer</a>
    <br>
    <a href="/list">return</a>
</body>
</html>