<html>
<head>
    <title>Results for the search "{{search}}"</title>
    <meta keywords.="story agile">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/static.css') }}">
</head>
<body>
    {% if results == [] %}
      <h1>No results for "{{search}}"</h1>
      <br>
    {% else %}
    <h1>Results for the search "{{search}}"</h1>
    <table style="width:100%">
        <tr>
        {% for header in headers %}
        <th>{{header}}</th>
        {% endfor %}
        <th></th>
        </tr>
        <tr>
        {% for result in results %}
        <td>{{result['id']}}</td>
        <td>{{result['submision_time']}}</td>
        <td>{{result['view_number']}}</td>
        <td>{{result['vote_number']}}</td>
        <td>{{result['title']}}</td>
        <td>{{result['message']}}</td>
        <td>{{result['image']}}</td>
        <td><button class="buttons"type="button" onclick="location.href='{{ url_for( 'question', id = result['id'] ) }}'">View question</button></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <br>
    <form action="search", method="GET">
      <label class="text">Search</label>
      <input type="text", name="search" required>
      <input class="buttons"type="submit", value="Search"/>
  </form>

    <button class="buttons"type="button" onclick="location.href='/'">Back to main page</button>
    <button class="buttons"type="button" onclick="location.href='/list'">View all questions</button>
</body>
</html>
